/Rocket_Elevators_Controllers.csproj
/Other
/obj
/debugsample
/bin
/.vscode
/obj/Debug/netcoreapp3.1/Rocket_Elevators_Controllers.pdb
/obj/Rocket_Elevators_Controllers.csproj.nuget.g.targets
/bin/Debug/netcoreapp3.1/Rocket_Elevators_Controllers.runtimeconfig.json